<app-header></app-header>
<main class="main">
  <div class="container container--app">
    <div class="card">
      <div class="card-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink>Detect Face</button>
            <ng-template ngbNavContent>
              <app-image-upload></app-image-upload>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>History</button>
            <ng-template ngbNavContent>
              <app-image-history></app-image-history>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
